<div id="inner-nav">

</div>
<div class="card">
    <div id="container">
        <div id="profile">
            <div id="image">
                <img id="profile-photo" src="C:\Users\jenil\WhatsApp Image 2022-09-11 at 11.03.36 PM.jpeg" alt="Profile-Image">
                <a href="#"><i class="fas fa-pen stroke-transparent"></i></a>
            </div>
            <p >{{title1}}</p>
            <p id="name">{{name}}</p><br>
                <p id="email">{{email}}</p>
            <p id="telephone">Telephone<br><strong>9624337465</strong></p>
            
            <div id="social-links"><a href="#"><i class="fab fa-facebook-f stroke-transparent"></i></a><a><i class="fab fa-twitter stroke-transparent"></i></a><a><i class="fab fa-linkedin-in stroke-transparent"></i></a><a><i class="fab fa-github stroke-transparent"></i></a></div>
            <a id="edit-intro" href="#"><i class="fas fa-pen-alt blue"></i>&nbsp;&nbsp;Edit Intro</a>
            <hr width="100%">
                        
        </div>
    </div>
</div>
    